@font-face {
  font-family: "iconfont"; /* Project id 3226319 */
  src: url('iconfont.woff2?t=1648133354250') format('woff2'),
       url('iconfont.woff?t=1648133354250') format('woff'),
       url('iconfont.ttf?t=1648133354250') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 30px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuye:before {
  content: "\e83a";
}

.icon-csdn:before {
  content: "\e600";
}

.icon-qq:before {
  content: "\e62d";
}

.icon-weixin:before {
  content: "\e64f";
}

.icon-github:before {
  content: "\e6b7";
}

.icon-yangshi_icon_tongyong_nav_drawer:before {
  content: "\e676";
}

